[submodule "Backend"]
	path = Backend
	url = https://github.com/prefeiturasp/SME-AtualizacaoCadastral-Backend.git
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/prefeiturasp/SME-AtualizacaoCadastral-Frontend.git
